@import "../../../App/mixin.scss";

.tabPostContent{
    @include postContainer;
    width: 352px;
    min-height: 452px; //--- DEL
    margin: 40px 0 0 0;
    &Text{
        cursor: pointer;
    }
    &Top img{
        min-height: 246px;
        min-width: 352px;
        object-fit: cover;
        cursor: pointer;
    }
}
.date {
    @include postDate;
    margin: 24px 0 8px 0;
}
.tabPostTitle{
    @include tabPostTitle;
}