.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    max-width: 1286px;
    margin: 0 auto;
    padding: 0 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color-default);
    &Numbers {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    & span,
    & button {
        cursor: pointer;
    }
    & button {
        background: unset;
        border: unset;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--text-color-default);
    }
}
.active {
    color: #2231AA;
}