@import "../../App/mixin.scss";

.wrapper{
    @include wrapper;
}
.contentPageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contentPageNav{
    display: flex;
    flex-direction: row;
    gap: 23px;
    width: 86%;
    margin-top: 72px;
    & p, a{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #8D8E97;
    }
    & a{
        color: var(#{--text-color-default});
    }
    & span{
        border: 1px solid #8D8E97;;
    }
}
.contentPageImg{
    margin-bottom: 48px;
    max-width: 992px;
    max-height: 518px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.contentPageTextContainer{
    display: flex;
    flex-direction: column;
    gap: 48px;
    max-width: 920px;
    width: 100%;
}
.contentPageText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: var(#{--text-color-default});
}