@import "../../../App/mixin.scss";

.smallPostContainer{
    @include postContainer;
    min-width: 354px;
    min-height: 206px; //--- DEL
    margin-bottom: 40px;
    &Top{
        display: flex;
        flex-direction: row;
    }
    &Left{
        margin-right: 34px;
        cursor: pointer;
    }
    &Right img{
        min-height: 96px;
        min-width: 96px;
        object-fit: cover;
        cursor: pointer;
    }
}
.date{
    @include postDate;
}
.smallPostTitle{
    @include tabPostTitle;
    margin-top: 8px;
}