@import "../../App/mixin.scss";
.wrapper{
    @include wrapper;
}
.listPostsContainer{
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    &Right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.tabPostsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 736px;
}