@import "/src/mixin.scss";

.tabsContainer{
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(218, 218, 218, 1);
    & button{
        @include mainPageBtn;
        background-color: var(#{--body-background-default});
        background-color: inherit;
        padding: 0 40px;
        border: none;
        &:hover{
            color: rgb(1, 1, 209);
        }
    }
}
.underline {
    position: relative;
    &:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 63px;
    width: 0;
    height: 3px; /* Высота линии */
    background-color: var(#{--text-color-default}); /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}
    &:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 63px;
    height: 3px; /* Высота линии */
    background-color: var(#{--text-color-default}); /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}
}
