@import "../../../App/mixin.scss";

.actionsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 497px) {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
    &Left{
        display: flex;
        flex-direction: row;
        gap: 6px;
    }
    &BTN{
        @include contentPageActionsBtn;
        &Dislike{
            @include contentPageActionsBtn;
            &:hover{
                background: #FD3419;
                border-radius: 2px;
                color: #FFFFFF;
                transition: 0.5s;
                & svg path{
                    fill: white;
                    transition: 0.5s;
                } 
            }
            &:disabled{
                color: #78768f;
                background: rgb(197, 197, 197);
                border-radius: 2px;
                & svg path{
                    fill: #78768f;
                } 
            }
        }
        &:hover{
            background: #5360CD;
            border-radius: 2px;
            color: #FFFFFF;
            transition: 0.5s;
            & svg path{
                fill: white;
                transition: 0.5s;
            } 
        }
        &:disabled{
            color: #78768f;
            background: rgb(197, 197, 197);
            border-radius: 2px;
            & svg path{
                fill: #78768f;
            } 
        }
    }
}