@import "../../../App/mixin.scss";

.date {
    @include postDate;
}
.mainPostTitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: var(#{--text-color-default});
    margin: 8px 0 24px 0;
}
.mainPostText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #8D8E97;
}
.mainPostContent{
    @include postContainer;
    width: 736px;
    min-height: 452px; //--- DEL
    &Top{
        display: flex;
        flex-direction: row;
        cursor: pointer;
    }
    &Left{
        display: flex;
        flex-direction: column;
        max-width: 448px;
        margin-right: 32px;
    }
    &Right img{
        min-height: 244px;
        min-width: 256px;
        object-fit: cover;
    }
}
