@import "../../../mixin.scss";

.date {
    @include postDate;
}
.mainPostTitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #313037;
    margin: 8px 0 24px 0;
}
.mainPostText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #8D8E97;
}
.mainPostContent{
    @include postContainer;
    max-width: 736px;
    margin-bottom: 25px;
    &Top{
        display: flex;
        flex-direction: row;
    }
    &Left{
        display: flex;
        flex-direction: column;
        max-width: 448px;
        margin-right: 32px;
    }
    &Right img{
        height: 244px;
        width: 256px;
        object-fit: cover;
    }
}
