@import "../../../App/mixin.scss";

.textArea{
    display: flex;
    flex-direction: column;
    & label{
        @include formLabel;
        margin-bottom: 8px;
    }
    &Field{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #8D8E97;
        padding: 20px;
        border: none;
        outline: none;
        @media (max-width: 1167px) {
            width: 688px;
        }
        @media (max-width: 722px) {
            width: 272px;
        }
    }
}
.error {
    border: 2px solid #FD3419;
}
.error,
.errorMessage {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.errorMessage {
    color: #FD3419;
    padding-top: 16px;
}
