.listPostAction{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
    &Left{
        display: flex;
        gap: 50px;
        & button{
            border: none;
            cursor: pointer;
            height: 24px;
            width: 24px;
            background: var(#{--body-background-default});
        }   & svg path {
            fill: var(#{--text-color-default});
        }
    }
    &Right{
        display: flex;
        gap: 30px;
        & button{
            border: none;
            cursor: pointer;
            height: 24px;
            width: 24px;
            background: var(#{--body-background-default});
            & svg path {
                fill: var(#{--text-color-default});
            }
        }
    }
}
.number {
    font-family: 'DINPro-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #313037;
    padding-left: 8px;
    margin: 0;
}