@import "../../App/mixin.scss";

.inputConteiner{
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    & label{
        @include formLabel;
    }
    &Field{
        padding: 20px;
        border: 2px solid transparent;
        border-radius: 2px;
        &:disabled{
            border: none;
            background: rgb(197, 197, 197);
            border-radius: 2px;
        }
        &:focus-visible{
            outline: 2px solid #DADADA;
        }
        &::placeholder{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #8D8E97;
        }
    }
}
.error,
.errorMessage {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.error {
    border: 2px solid #FD3419;
}
.errorMessage {
    color: #FD3419;
    position: absolute;
    bottom: -28px;
}