@import "/src/mixin.scss";

.burgerMenuBtn{
    @include mainPageBtn;
    outline: none;
    border: 1px solid rgba(232, 232, 232, 1);
    padding: 28px 0;
    text-align: center;
    width: 100%;
    &:hover{
        color: rgba(34, 49, 170, 1);
    }
}