@import "../../mixin.scss";

.wrapper{
@include wrapper;
}
.signInPageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formContainer{
    display: flex;
    flex-direction: column;
    gap: 40px;
    border: 1px solid #DADADA;
    padding: 40px;
    width: 624px;
}